.header {
    background-color: blue;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-icon {
    font-size: 24px;
    margin-right: 20px;
  }
  
  .header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .header nav li {
    margin-right: 20px;
  }
  
  .header nav a {
    color: white;
    text-decoration: none;
  }